.usuario-container{
	text-align: center;
	min-height: 500px;
	padding: 10px;
	border-radius: 10px;
}
h2{
	margin-bottom: 1rem;
    border-bottom: 1px solid #d8d8d8;
    padding-bottom: 1rem;
}
.navLinks{
	margin-bottom: 0.5rem;
}
a{
	color: white;
	flex: 1;
}